[submodule "solidity/lib/solady"]
	path = solidity/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "solidity/lib/forge-std"]
	path = solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
